
.pad {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.pad1 {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  background-color: #585858;
}

li {
  display: inline;
}

.secondnav {
  background-color: #585858;
  overflow: hidden;
}

.topnav {
  background-color: Red;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}

#rightimg {
  float: right;
  position: right;
}

.rightalign{
  float: right;
}

footer{
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background-color: #585858;
  overflow: hidden;
  color: #f2f2f2;
}
